.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}


.mat-card {
  background: white;
  color: black;
  margin: 10px;
}

.img {
  width: 300px;
  margin: 1px;
}
button{
  margin: 3px;
}
